.service {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.service .truck {
  text-align: center;
  width: 17rem;
  line-height: 1.6rem;
  margin-top: 2rem;
}
.truck i {
  padding-bottom: 20px;
  color: #0096c7;
}

@media screen and (min-width:577px) and (max-width: 768px) {
  .service {
    margin-top: 25rem;
  }    
}
