.main {
    margin: 4rem auto;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1rem;
}
.main h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
}
.shop-img {
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 2px 2px 5px black;
    position: relative;

}

.shop-img img {
    width: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
    margin-top: 4rem;
}

.shop-img img:hover {
    transform: scale(1.03) ;
}
.name {
    text-align: center;
    font-size: 1.3rem;
}
.main button {
    position: absolute;
    top: 2rem;
    font-size: 1rem;
    padding: 10px 40px;
    border-style: none;
    background-color: #0096c7;
    color: white;
    border-radius: 5px;
}

.main button:hover {
    cursor: pointer;
    background-color: #00b4d8;
}

.main button:active {
    background-color: #0096c7;
    margin-top: 3px;
}
.main button:first-child{
    left: 1rem;
}
.main button:nth-child(2) {
    right: 1rem;
    padding: 10px 60px;
}


@media screen and (max-width: 576px) {
    .main {
        margin-top: 30rem;
    }
}